<div class="col-4 col-12-medium">
	<div id="sidebar">
		<section>
			<header class="major">
				<h2>🏗️ Строим будущее <br /> с уверенностью!</h2>
			</header>
			<p>
				«Мы — команда профессионалов, которая уже более 20 лет создаёт прочные
				и надёжные объекты, воплощая самые амбициозные архитектурные замыслы. <br />
				Наша миссия — строить для вас комфортное и безопасное будущее, будь
				то жилые комплексы, коммерческая недвижимость или инженерные сооружения.
				Мы гордимся своей репутацией и каждым проектом, в основе которого лежат качество,
				современные технологии и внимание к деталям.
			</p>
			<footer>
				<a asp-area="" asp-controller="Servises" asp-action="Index" class="button icon fa-star-of-life" >
					Перейти к услугам!
				</a>
			</footer>
		</section>
	</div>
</div>