@await Html.PartialAsync("_SidebarPartial")
<div class="col-8 col-12-medium imp-medium">
	<div id="content">
		<article>
			<header class="major">
				<h2>Добро пожаловать на сайт строительной компании "стройком"!</h2>
				<p>Стройте с теми, кому доверяют!</p>
			</header>

			<span class="image featured"><img src="~/img/index.jpg" alt="" /></span>

			<p>
				
			</p>
		</article>

	</div>
</div>	